services:
  mysqldb:
    image: mysql:8.4
    restart: unless-stopped
    env_file: ./.env
    environment:
      - MYSQL_ROOT_PASSWORD=$MYSQL_ROOT_PASSWORD
      - MYSQL_DATABASE=$MYSQLDB_DATABASE
      - MYSQL_USER=$DB_USERNAME
      - MYSQL_PASSWORD=$DB_PASSWORD
    ports:
      - "${MYSQLDB_LOCAL_PORT}:${MYSQLDB_DOCKER_PORT}"
    volumes:
      - db:/var/lib/mysql
    networks:
      - my_network
    healthcheck:
          test: ["CMD", "mysqladmin", "ping", "-h", "mysqldb"]
          interval: 10s
          retries: 5
          timeout: 5s

  adminer:
    image: adminer
    restart: always
    ports:
      - 8081:8080
    links:
      - mysqldb
    networks:
      - my_network
      
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file: .env
    depends_on:
      mysqldb:
        condition: service_healthy
    environment:
      NTFY_SERVER_URL: ${NTFY_SERVER_URL:-http://ntfy}
      NTFY_PUBLIC_URL: ${NTFY_PUBLIC_URL:-http://localhost:2586}
      NOTIFICATIONS_NTFY_REQUIRE_ACCESS_TOKEN: "false"
      SPRING_APPLICATION_JSON: '{
        "spring.datasource.url"  : "jdbc:mysql://mysqldb:$MYSQLDB_DOCKER_PORT/$MYSQLDB_DATABASE?allowPublicKeyRetrieval=true&defaultAuthenticationPlugin=caching_sha2_password",
        "spring.datasource.username" : "$DB_USERNAME",
        "spring.datasource.password" : "$DB_PASSWORD",
        "spring.jpa.hibernate.ddl-auto" : "none",
        "spring.flyway.enabled" : "true",
        "spring.flyway.locations" : "classpath:db/migration",
        "spring.flyway.baseline-on-migrate" : "true",
        "spring.flyway.baseline-version" : "1"
        }'

    networks:
      - my_network
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ./frontend
      target: development
    environment:
      - NODE_ENV=development
    container_name: task-frontend
    networks:
      - my_network
    ports:
      - "3000:3000"
    depends_on:
      - backend
      - ntfy

  ntfy:
    image: binwiederhier/ntfy
    container_name: ntfy
    command: serve
    environment:
      TZ: UTC
    volumes:
      - ntfy_cache:/var/cache/ntfy
    ports:
      - "2586:80"
    networks: [my_network]
    restart: unless-stopped
    init: true



volumes:
  db:
  ntfy_cache:

networks:
  my_network:
    driver: bridge
