services:
  mysqldb:
    image: mysql:8.4
    restart: unless-stopped
    env_file: ./.env
    environment:
      - MYSQL_PASSWORD=$DB_PASSWORD
      - MYSQL_ROOT_PASSWORD=$MYSQL_ROOT_PASSWORD
      - MYSQL_DATABASE=$MYSQLDB_DATABASE
    ports:
      - "${MYSQLDB_LOCAL_PORT}:${MYSQLDB_DOCKER_PORT}"
    volumes:
      - db:/var/lib/mysql
    networks:
      - my_network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "mysqldb"]
      interval: 10s
      retries: 5
      timeout: 5s
      
  backend:
    image: conorb1/task-backend:latest
    pull_policy: always
    depends_on:
      mysqldb:
        condition: service_healthy

    restart: on-failure:5
    env_file: .env
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - SPRING_APPLICATION_JSON={"spring.datasource.url":"jdbc:mysql://mysqldb:$MYSQLDB_DOCKER_PORT/$MYSQLDB_DATABASE?allowPublicKeyRetrieval=true&defaultAuthenticationPlugin=caching_sha2_password","spring.datasource.username":"$DB_USERNAME","spring.datasource.password":"$DB_PASSWORD","spring.jpa.hibernate.ddl-auto":"update"}
    networks:
      - my_network
    ports:
      - "8080:8080"         

  frontend:
    image: conorb1/task-frontend:vite
    pull_policy: always

    environment:
      - NODE_ENV=prod
    container_name: task-frontend
    networks:
      - my_network
    ports:
      - "80:80"   
      - "443:443"       
    depends_on:
      - backend
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
  
  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    #  - ./frontend_html:/var/www/frontend
    command: certonly --webroot -w /var/www/certbot --keep-until-expiring --email [emailhere] -d taskapp.conordev.com -d qube.app.librepush.net -d taskapp.librepush.net --agree-tos --expand
    networks:
     - my_network
    depends_on:
     - frontend




volumes:
  db:

networks:
  my_network:
    driver: bridge
